<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!--<property name="connection.url"/>
    <property name="connection.driver_class"/>-->
    <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>

    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/huella?useSSL=false&amp;serverTimezone=UTC</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password"></property>
    <!-- Dialecto de Hibernate para MySQL -->
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <!-- Configuración de Hibernate -->
    <property name="hibernate.show_sql">false</property> <!-- Muestra las consultas SQL en la consola -->
    <property name="hibernate.format_sql">true</property> <!-- Formatea las consultas SQL -->
    <property name="hibernate.hbm2ddl.auto">update</property> <!-- Crea o actualiza tablas automáticamente -->

    <!--Mapeado de clases-->
    <mapping class="example.model.entity.Usuario"/>
    <mapping class="example.model.entity.Actividad"/>
    <mapping class="example.model.entity.Categoria"/>
    <mapping class="example.model.entity.Habito"/>
    <mapping class="example.model.entity.Recomendacion"/>
    <mapping class="example.model.entity.Huella"/>
  </session-factory>
</hibernate-configuration>